@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input {
  padding: 8px;
  font-size: 16px;
}
button {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background: #0056b3;
}
p {
  margin: 5px 0;
} */

@font-face {
  font-family: 'Nohemi';
  src: url('/fonts/Nohemi-Regular.woff2') format('woff2'),
       url('/fonts/Nohemi-Regular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Apply it to body */
body {
  font-family: 'Nohemi', sans-serif;
  letter-spacing: normal;
}

.navbar{
  background-color: #005F60;
}

ul{
  color: aliceblue;
}

.footer{
  background-color: #333333;
  color: aliceblue;
}


